@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

:root {
  --bg-color: #140524;
  --text-color: #fff;
  --card-bg: #2a0d3c;
}

[data-theme="light"] {
  --bg-color: #f5f5f5;
  --text-color: #111;
  --card-bg: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}


